body{
    background:  #000;
    color: #fff;
    overflow: hidden;
}

a{
    text-decoration: none;
}

/*Start Our Navbar*/
.img-cover{
    background: url('../img/altumcode-U0tBTn8UR8I-unsplash.jpg') center center no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.navbar{
    background: rgba(2 , 2, 2, 0.5);
    height: 700px;
}

.fixed-top{
    position: absolute;
}

.navbar .navbar-collapse{
    margin: 0 10px;
}

.navbar .container-edit{
    padding: 25px 0 25px 0;
}

.navbar .navbar-brand{
    font-family: Shippori Antique B1;
    color: #7fffd4;
    font-weight: bold;
    font-size: 2em;
    margin: 0px 10px;
}

.navbar .navbar-brand:hover{
    color: #dcfff3;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(241, 229, 213);
}

.find-me-on .myimg_circle{
    background: rgba(127,255,212, 0.2);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 99999;
    position: relative;
    bottom: 310px;
}

.find-me-on .myimg_circle img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    top: 25px;
    border: 10px solid #7fffd4;
}

.find-me-on .border-img-container{
    background: rgb(95, 94, 94);
    width: 305px;
    height: 310px;
    border-radius: 18px;
    position: relative;
    top: 150px;
}

.find-me-on{
    width: 305px;
    height: 460px;
    position: relative;
    top: 120px;
}

.find-me-on .border-img-container .my-info{
    text-align: center;
    position: relative; 
    top: 160px;
    z-index: 99999; 
}

.find-me-on .border-img-container .my-info .fa-brands{
    color: #fff;
    font-size: 1.2em;
    margin: 20px 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
} 

/*End Our Navbar*/

/*Strat Our Portfolio*/

.portfolio_container{
    text-align: center;
}

.portfolio_container h3{
    color: #7fffd4;
    margin: 50px 0px;
}

.portfolio_container img{
    width: 300px;
    height: 500px;
    background-size: cover;
    border-radius: 16px;
    border: 10px solid #000;
    transition: all .3s ease;

}

.portfolio_container .about-the-site{
    visibility: hidden;
    position: relative;
    color: #eee;
    bottom: 355px;
    width: 300px;
    height: 210px;
    padding: 16px;
}

.portfolio_container .about-the-site h4{
    line-height: 50px;
}

.portfolio_container .container div:hover > img{
    opacity: 0.2;
    background: #000;
}

.portfolio_container .container div:hover > .about-the-site{
    visibility: visible;
}

.portfolio_container .container .row .portfolio{
    width: 300px;
    height: 500px;
    cursor: pointer;
}

/*End Our Portfolio*/

/*Start About Me*/

.about-me-container img{
    width: 500px;
}

.about-me-container .about-me-sec{
    margin: 35px 0;
}

.about-me-container h3{
    margin: 70px 0;
    width: 150px;
}

.about-me-container h4{
    width: 310px;
}

.about-me-container h4, .about-me-container p{
    margin-bottom: 40px;
}

.carte-visite{
    background: #100c08;
}

.carte-visite p{
    margin: 15px 0;
    
}

.about-me-container a{
    position: relative;
    top: 50px;
    color: #fff;
}

.green-button{
    cursor: pointer;
    background: #1c7a5b;
    padding: 12px;
    font-size: 0.9em;
    font-weight: bold;
}

.green-button:hover{
    background: #34b489;
}

.about-me-container .two-section{
    padding: 0 48px;
}
/*End About Me*/

/*Start My Skills*/
.my-skills-container h3{
    margin: 150px 0 50px 0;
}

.my-skills-container .my-service{
    background: #0d0d0d;
    border: 5px solid #000;
    margin: 16px 0;
    padding: 16px;
}

.my-skills-container .my-service div{
    margin-bottom: 20px;
}

.font-desc strong{
    margin-bottom: 30px;
}

.my-skills-container .font i{
    text-align: center;
    font-size: 2.3em;
}

.font-desc-title{
    font-size: 1.2em;
    font-weight: bold;
}

.title-line{
    border-bottom: 4px solid #34b489;
    width: 58px;
}
/*End My Skills*/

/*Start What I know*/
.what-i-know{
    margin: 70px 0;
}

.what-i-know .container{
    background: #100c08;
}

.what-i-know .progress{
    height: 35px;
    width: 45%;
    margin: 16px 25px;
}

.what-i-know .progress-bar{
    text-align: left;
    margin: -12px;
    
}

.what-i-know .progress-bar label{
    margin: 0 16px;
}
/*End What I know*/

/*Start My Resume*/
.my-resume-container h3, .contact-me-container h3{
    margin: 50px 0;
} 

.my-resume-container .my-resume{
    background: #0d0d0d;
    margin: 16px 0;
    padding: 25px;
    text-align: center;
}

.my-resume-container .my-resume .title-info-back{
    background: #121212;
    padding: 16px;
}

.my-resume-container .my-resume .my-resume-title{
    color: #1c7a5b;
    background: #100c08;
    padding: 8px 0;
    margin: 30px 0;
}
/*End My Resume*/

/*Start Contact Me*/
.contact-me-container{
    margin-top: 50px;
}
.contact-me-container h3, .contact-me-container .title-line{
    text-align: center;
}
.contact-me-container .option{
    background: #0d0d0d;
    margin: 25px 0;
    padding: 16px;
}

.contact-me-container .option .option-desc h4{
    margin: 12px 0;
}

.contact-me-container .option .option-font i{
    font-size: 2em;
    margin: 22px;
    color: #1c7a5b;
    float: right;
}

.contact-me-container .contact-me input,
.contact-me-container .contact-me textarea{
    margin: 35px 0;
    border: #000;
    resize: none;
}
/*End Contact Me*/

/*Start Copyright*/
.copyright-container{
    background: #100c08;
    text-align: center;
    margin-top: 70px;
    padding: 12px;
}

.copyright-container i{
    color: #1c7a5b;
}
/*End Copyright*/

/*Start Loading Page*/
.loading-container{
    background: #151515;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.loading{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.circle-container{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 75px auto;
    padding: 4px;
    background: linear-gradient(0deg, rgba(63, 249, 220, 0.1) 33%, 
    rgba(63, 249, 220, 1) 100%);
    animation: spin .8s linear 0s infinite;
}

.circle{
    background: #151515;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@keyframes spin{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(359deg);
    }
}

@media (max-width: 1000px){
    body{
        zoom: 150%;
    }

    .portfolio_container .container .row .portfolio {
        width: 80%;
        height: auto;
        margin: 0 auto -90px auto;
    }

    .portfolio_container img {
        width: 100%;
        height: auto;
    }
}
/*End Loading Page*/

